<span style='color:orange'>

ELIZABETH GONZALEZ - PRESENCIAL -TARDE<h1>

DATA SCIENCE

SPRINT 3

S03 T05: Data exploration.
</span>

<span style='color:purple'>
<h3>Level 1

<span style='color:purple'>
<h4>

3.5.1 Exercise 

Download the Airlines Delay: Airline on-time statistics and delay causes data set and upload it to a Dataframe pandas. Explore the data it contains, and keep only the columns you consider relevant.
</span>

In [81]:
import pandas as pd # Importacion estandar de la libreria Pandas
import numpy  as np # Importacion estandar de la libreria NumPy

df = pd.read_csv ('/Users/elizabeth/Desktop/JUP_EGE/S03 T05/DelayedFlights.csv')  

layout = df
print ('TABLE AIRLAINS DELAY "2008"')
layout

TABLE AIRLAINS DELAY "2008"

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,2008,12,13,6,1250.0,1220,1617.0,1552,DL,...,9.0,18.0,0,N,0,3.0,0.0,0.0,0.0,22.0
1936754,7009717,2008,12,13,6,657.0,600,904.0,749,DL,...,15.0,34.0,0,N,0,0.0,57.0,18.0,0.0,0.0
1936755,7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,...,8.0,32.0,0,N,0,1.0,0.0,19.0,0.0,79.0
1936756,7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,...,13.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1936757,7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,...,8.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [82]:
#Review data type
print ('DATA TYPES')
layout.dtypes

DATA TYPES

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [83]:
import pandas as pd 
import numpy  as np 

#Delete columns thar are not necesaries

layout.drop(['Unnamed: 0','FlightNum','TailNum','TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted'], axis=1, inplace=True)

#Show new layout
print('NEW TABLE AIRLAINS DELAY "2008"')
layout

NEW TABLE AIRLAINS DELAY "2008"

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,ArrDelay,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,...,-14.0,8.0,IAD,TPA,810,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,...,2.0,19.0,IAD,TPA,810,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,...,14.0,8.0,IND,BWI,515,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,...,34.0,34.0,IND,BWI,515,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,...,11.0,25.0,IND,JAX,688,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,2008,12,13,6,1250.0,1220,1617.0,1552,DL,147.0,...,25.0,30.0,MSP,ATL,906,3.0,0.0,0.0,0.0,22.0
1936754,2008,12,13,6,657.0,600,904.0,749,DL,127.0,...,75.0,57.0,RIC,ATL,481,0.0,57.0,18.0,0.0,0.0
1936755,2008,12,13,6,1007.0,847,1149.0,1010,DL,162.0,...,99.0,80.0,ATL,IAH,689,1.0,0.0,19.0,0.0,79.0
1936756,2008,12,13,6,1251.0,1240,1446.0,1437,DL,115.0,...,9.0,11.0,IAD,ATL,533,NaN,NaN,NaN,NaN,NaN
1936757,2008,12,13,6,1110.0,1103,1413.0,1418,DL,123.0,...,-5.0,7.0,SAT,ATL,874,NaN,NaN,NaN,NaN,NaN

<span style='color:purple'>
<h4>

3.5.2 Exercise

Make a complete report of the date set :

A)Summarize the columns of interest statistically.
    

</span>

In [85]:
# Show statistic describe of columns

print ('DESCRIPTIVE STATISTICS NEW TABLE AIRLAINS DELAY "2008"' )
layout.describe()

DESCRIPTIVE STATISTICS NEW TABLE AIRLAINS DELAY "2008"

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1936758.0,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.936560e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06,1.247488e+06
mean,2008.0,6.111106e+00,1.575347e+01,3.984827e+00,1.518534e+03,1.467473e+03,1.610141e+03,1.634225e+03,1.333059e+02,1.343027e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02,1.917940e+01,3.703571e+00,1.502164e+01,9.013714e-02,2.529647e+01
std,0.0,3.482546e+00,8.776272e+00,1.995966e+00,4.504853e+02,4.247668e+02,5.481781e+02,4.646347e+02,7.206007e+01,7.134144e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02,4.354621e+01,2.149290e+01,3.383305e+01,2.022714e+00,4.205486e+01
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.400000e+01,-2.500000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2008.0,3.000000e+00,8.000000e+00,2.000000e+00,1.203000e+03,1.135000e+03,1.316000e+03,1.325000e+03,8.000000e+01,8.200000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2008.0,6.000000e+00,1.600000e+01,4.000000e+00,1.545000e+03,1.510000e+03,1.715000e+03,1.705000e+03,1.160000e+02,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02,2.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,8.000000e+00
75%,2008.0,9.000000e+00,2.300000e+01,6.000000e+00,1.900000e+03,1.815000e+03,2.030000e+03,2.014000e+03,1.650000e+02,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02,2.100000e+01,0.000000e+00,1.500000e+01,0.000000e+00,3.300000e+01
max,2008.0,1.200000e+01,3.100000e+01,7.000000e+00,2.400000e+03,2.359000e+03,2.400000e+03,2.400000e+03,1.114000e+03,6.600000e+02,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03,2.436000e+03,1.352000e+03,1.357000e+03,3.920000e+02,1.316000e+03

<span style='color:purple'>
<h4>


B)Find how many missing data are per column
.
    
</span>

In [86]:
# Sumarize data null per column
print ('DATA WITH NULL INFORMATION BY COLUMNS')
layout.isnull().sum()

DATA WITH NULL INFORMATION BY COLUMNS

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

<span style='color:purple'>
<h4>
    
C)Create new columns:
    

C.1 ) Average flight speed.

</span>

In [87]:
# Speed is equal to dictance over time flight

layout['Average_Flight_Speed'] = layout['Distance'] / layout['ActualElapsedTime']

print('NEW TABLE AIRLAINS DELAY "2008" WITH AVERAGE SPEED')

layout

NEW TABLE AIRLAINS DELAY "2008" WITH AVERAGE SPEED

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,ActualElapsedTime,...,DepDelay,Origin,Dest,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Average_Flight_Speed
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,128.0,...,8.0,IAD,TPA,810,NaN,NaN,NaN,NaN,NaN,6.328125
1,2008,1,3,4,754.0,735,1002.0,1000,WN,128.0,...,19.0,IAD,TPA,810,NaN,NaN,NaN,NaN,NaN,6.328125
2,2008,1,3,4,628.0,620,804.0,750,WN,96.0,...,8.0,IND,BWI,515,NaN,NaN,NaN,NaN,NaN,5.364583
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,90.0,...,34.0,IND,BWI,515,2.0,0.0,0.0,0.0,32.0,5.722222
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,101.0,...,25.0,IND,JAX,688,NaN,NaN,NaN,NaN,NaN,6.811881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,2008,12,13,6,1250.0,1220,1617.0,1552,DL,147.0,...,30.0,MSP,ATL,906,3.0,0.0,0.0,0.0,22.0,6.163265
1936754,2008,12,13,6,657.0,600,904.0,749,DL,127.0,...,57.0,RIC,ATL,481,0.0,57.0,18.0,0.0,0.0,3.787402
1936755,2008,12,13,6,1007.0,847,1149.0,1010,DL,162.0,...,80.0,ATL,IAH,689,1.0,0.0,19.0,0.0,79.0,4.253086
1936756,2008,12,13,6,1251.0,1240,1446.0,1437,DL,115.0,...,11.0,IAD,ATL,533,NaN,NaN,NaN,NaN,NaN,4.634783
1936757,2008,12,13,6,1110.0,1103,1413.0,1418,DL,123.0,...,7.0,SAT,ATL,874,NaN,NaN,NaN,NaN,NaN,7.105691

<span style='color:purple'>
<h4>


C.2 ) Whether late or not.

    
</span>

In [88]:
import pandas as pd # Importacion estandar de la libreria Pandas


def Arrives(arrive):
    arrive = float(arrive.ArrDelay)
    
    if arrive <0:
        return 'Early'
    if arrive ==0:
        return 'On time'
    if arrive >0:
        return 'Late'
    else:
        return 'No avaiable'

layout['Arrived_OnTime_or_Not'] = pd.to_numeric(layout['ArrDelay'], errors='ignore')  
layout['Arrived_OnTime_or_Not'] = layout.apply(Arrives, axis=1)


#Print table with subtotals by status
print ('ARRIVAL STATUS SUBTOTALS')
layout.groupby(['Arrived_OnTime_or_Not']).size().reset_index(name='Total_Flight')

ARRIVAL STATUS SUBTOTALS

  Arrived_OnTime_or_Not  Total_Flight
0                 Early        177916
1                  Late       1723415
2           No avaiable          8387
3               On time         27040

<span style='color:purple'>
<h4>

   
D)Table of airlines with the most accumulated arrears

    
</span>

In [89]:
#To generate a table with largest delays flight by carrier I try severals subtables

listCarrier = layout[['UniqueCarrier','Arrived_OnTime_or_Not']]
Table_List_Carrier1=listCarrier.groupby(["UniqueCarrier", 'Arrived_OnTime_or_Not'])['Arrived_OnTime_or_Not'].count()
listCarrier2 = layout[['UniqueCarrier','CarrierDelay']]
listCarrier2.sort_values(by = "CarrierDelay", ascending =False)
Table_List_Carrier3=listCarrier2.groupby(['UniqueCarrier','CarrierDelay']).size().reset_index(name='Total')

print('FIRTS FIVE CARRIERS WITH LONGER DELAY TIME ACCUMULATED IN "2008"')
listCarrier2.groupby('UniqueCarrier')['CarrierDelay'].sum().nlargest(5).reset_index(name='time_delays_acc')

FIRTS FIVE CARRIERS WITH LONGER DELAY TIME ACCUMULATED IN "2008"

  UniqueCarrier  time_delays_acc
0            AA        2821907.0
1            WN        2261002.0
2            YV        1906001.0
3            UA        1720150.0
4            MQ        1705271.0

<span style='color:purple'>
<h4>

    
E)What are the longest flights? 
    
    
</span>

In [90]:
#Create a list for review distance vs arrive delay
listDistance = layout[['Distance','Arrived_OnTime_or_Not']]

#Concatenate origin and destination for obtain the stretch of travel
layout["Flight_Origin_Dest"] = layout["Origin"] + " - " + layout["Dest"]

#Create a list and sort it in descending order
listFlight2 = pd.pivot_table(listFlight1, index='Flight_Origin_Dest')
listFlight2.sort_values('Distance', inplace =True, ascending=False)

print ('FIRST FIVE LONGER TRIP CONSIDERING DISTANCE (Miles) : ORIGIN - DESTINATION'+ '')
listFlight2.head(5)

FIRST FIVE LONGER TRIP CONSIDERING DISTANCE (Miles) : ORIGIN - DESTINATION

                     ArrDelay  Distance
Flight_Origin_Dest
HNL - EWR           57.070175      4962
EWR - HNL           26.875472      4962
HNL - ATL           41.443709      4502
ATL - HNL           33.346405      4502
ORD - HNL           36.956311      4243

<span style='color:purple'>
<h4>

    
D)And the most backward?

    
</span>

In [91]:
# Index table by Orig-Dest and ArrDelay
Table_List_Delay=listFlight1.groupby(['Flight_Origin_Dest','ArrDelay']).size().reset_index(name='Total')

# Sort by ArrDelay
Table_List_Delay.sort_values('ArrDelay', inplace =True, ascending=False)

print ('FIRST FIVE MOST BACKWARD ORIGIN-DESTINATION')
Table_List_Delay.head(5)

FIRST FIVE MOST BACKWARD ORIGIN-DESTINATION

       Flight_Origin_Dest  ArrDelay  Total
203071          HNL - MSP    2461.0      1
91616           CLT - MSP    2453.0      1
435407          RSW - DTW    1951.0      1
287561          LIT - DFW    1707.0      1
58044           BOS - MSP    1655.0      1

<span style='color:purple'>
<h4>

3.5.3 Exercise

Export the data set clean and with the new columns to Excel.
    

</span>

In [92]:
# Cut dataframe for export a file short in excel
layout.head(10).to_excel ('/Users/elizabeth/Desktop/JUP_EGE/S03 T05/NewDelayedFlights.xls', index = False, header=True)

<ipython-input-92-e6aba3806d2a>:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  layout.head(10).to_excel ('/Users/elizabeth/Desktop/JUP_EGE/S03 T05/NewDelayedFlights.xls', index = False, header=True)

<span style='color:purple'>
<h4>

Exercise EXTRA

To show top five trips afected delayed for weather.
    

</span>

In [93]:
# Calculate the percentage that weatherdelay represents of the total delay time per trip

def Percent(weather_delay, arr_delay):
    # returns the difference between post and pre
    return weather_delay*100/arr_delay

# Create a new column for proportion    
layout['score_percent'] = Percent(layout['WeatherDelay'],layout['ArrDelay'])

# Create a summary for shoy top 10 trips with troubles of weather

Table_summary_delay_weather=layout.groupby(['Flight_Origin_Dest','score_percent']).size().reset_index(name='Total')

# Sort by el percent hightest
Table_summary_delay_weather.sort_values('score_percent', inplace =True, ascending=False)

print ('TOP TEN TRIPS AFECTED DELAY FOR WEATER')
Table_summary_delay_weather.head(10)

TOP TEN TRIPS AFECTED DELAY FOR WEATER

      Flight_Origin_Dest  score_percent  Total
60106          MSY - JAX          100.0      2
59919          MSY - ATL          100.0      3
31421          EWR - DTW          100.0     13
54330          MEM - MSP          100.0      9
24880          DFW - MOB          100.0      5
31432          EWR - EGE          100.0      1
59805          MSP - SGF          100.0      1
59800          MSP - SFO          100.0     20
7316           ATL - STL          100.0      5
19205          DEN - AMA          100.0      1